{% extends "layouts/base.html" %}

{% block body %}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5 class="mb-3">Admin</h5>
            <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a href="{% url 'admin_user_create' %}">
              <i class="fa fa-plus"></i>
            </a>
            <a class="refresh-link" id="refreshDataTable">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <div class="table-responsive">
            <table id="adminDatatable" class="table table-striped table-bordered table-hover" style="width:100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
  {% if messages %}
    {% for message in messages %}
      <script>toastrDisplay("{{message.tags}}","{{message}}")</script>
    {% endfor %}
  {% endif %}

<script type="text/javascript">
  $(document).ready(function () {
    var adminTable = $("#adminDatatable").DataTable({
      processing: true,
      serverSide: true,
      responsive: true,
     "ajax": {
                 "processing": true,
                 "url": "{% url 'admin_user_datatable' %}",
             },
      columns: [
       {
          data: "id",
          name: "id",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "name",
          name: "name",
          defaultContent: "<i>Not Set</i>",
        }, {
          data: "email",
          name: "email",
          defaultContent: "<i>Not Set</i>",
        },

        {
          data: null,
          name: "Action",
          sortable: false,
          searchable: false,
          render: function (data) {
            return (
              "<a href='/admin/admin-user/"+data.id+"'><i class='fa fa-eye controls'></i></a> <a href='/admin/admin-user/" + data.id +
              "/edit'><i class='fa fa-pencil controls'></i></a> <a class='admin_remove' href='javascript:void(0)' id=" +
              data.id +
              " ><i class='fa fa-trash controls'></i></a>"
            );
          },
        },
      ],
    });

    $(document).on("click", ".admin_remove", function () {
      var id = $(this).attr("id");
      var url = "/admin/admin-user/delete/"+id;
      deleteRecordByAjax(url,"Admin", adminTable);
    });

    $(document).on('click', '#refreshDataTable', function () {
      adminTable.draw(true)
    });
  });

</script>

{% endblock %}