{% extends "layouts/layout.html" %}

{% block body %}
<div class="middle-box text-center loginscreen animated fadeInDown">

    <div><h1 class="logo-name">Admin</h1></div>
    <h3>Welcome to Admin</h3>
    <p>
      <!-- Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views. -->
      <!-- Continually expanded and constantly improved Inspinia Admin Them (IN+) -->
    </p>
    <p>Login in. To see it in action.</p>
    <form class="m-t" method="POST" action="/admin/login-check">
        {% csrf_token %}
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Username" required name="email" value="" />
           {% if messages %}
            {% for message in messages %}
          <span class="help-block text-danger text-left"><strong>{{message}}</strong></span>
            {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required name="password" value="" />
      </div>

      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

    </form>
    <p class="m-t"><small>ADMINPANEL &copy; 2020</small></p>

</div>
{% endblock %}